/**
 * Mixins
 */

@mixin center($width: null, $height: null) {
	position: absolute;
	top: 50%;
	left: 50%;
	@if not $width and not $height {
		transform: translate(-50%, -50%);
	}
	@else if $width and $height {
		width: $width;
		height: $height;
		margin: -($width / 2) #{0 0} -($height / 2)
	}
	@else if not $height {
		margin-left: -($width / 2);
		transform: translateY(-50%);
		width: $width;
	}
	@else {
		margin-top: -($height / 2);
		transform: translateX(-50%);
		height: $height;
	}
}

@mixin pos ($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


/**
 * Variables
 */

// Colors
$primary-color: #151515;
$off-white: #f5f5f5;

// Animations
$timing: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$duration: 5s;

// Spacing
$spacing: 0.35em;


/**
 * Keyframes
 */
@keyframes rotate {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(360deg) translate3d(0, 0, 0);
	}
}


/**
 * Base
 */

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}


/**
 * Gallery
 */

.gallery {
	@include pos(absolute, 0, 0, 0, 0);
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 1;
	transition: $duration opacity $timing;
	background: $primary-color;
	background: radial-gradient(ellipse at center, lighten($primary-color, 5%) 0%, $primary-color 100%);
	&.fadeOut {
		opacity: 0;
	}
}

.gallery__body {
	@include center();
	transform-origin: center center;
}


/**
 * Poster
 */

.poster {
	@include center();
	transform-origin: center center;
	display: inline-block;
	vertical-align: middle;
	&:before,
	&:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 8px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: #777;
		box-shadow: 0 15px 10px rgba(#000, .5);
		transform: rotate(-3deg);
	}
	&:after {
		transform: rotate(3deg);
		right: 8px;
		left: auto;
	}
}

.poster__content {
	position: relative;
	width: 500px;
	height: 700px;
	overflow: hidden;
	padding: 2%;
	background-color: $off-white;
	color: $primary-color;
	box-shadow: 0 1px 4px 2px rgba(#000, .2);
	line-height: 1;
}

.poster__header {
	position: absolute;
	z-index: 9;
	bottom: $spacing*16;
	width: 100%;
	overflow: hidden;
}

.poster__header-title {
	width: 25%;
	margin: 0 0 $spacing*4;
	text-align: right;
	font-size: 22px;
}

.poster__header-section {
	clear: both;
	font-size: 8px;
	font-weight: bold;
}

.poster__header-subtitle,
.poster__header-meta {
	float: left;
}

.poster__header-subtitle {
	width: 25%;
	margin-right: $spacing*2;
	text-align: right;
}

.poster__header-meta--spaced {
	margin-bottom: $spacing*2;
}

.poster__body {
	position: absolute;
	top: 35%;
	left: -24%;
	width: 100%;
	height: 100%;
	
	svg {
		transform: scale(3.3);
		overflow: hidden;
		
		g {
			transform-origin: 50% 50% 0;
			
			// Loop through and apply animation to each child element
			$num: 7;
			$div: 2;
			@for $i from 1 through 7 {
				&:nth-child(#{$i}) {
					$factor: $num / $div;
					animation: rotate $duration/$factor linear infinite;
					$div: $div + 1;
				}
			}
		}
	}
}