/**
 * Mixins
 */
/**
 * Variables
 */
/**
 * Keyframes
 */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(360deg) translate3d(0, 0, 0);
            transform: rotate(360deg) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(360deg) translate3d(0, 0, 0);
            transform: rotate(360deg) translate3d(0, 0, 0);
  }
}
/**
 * Base
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/**
 * Gallery
 */
.gallery {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 5s opacity cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 5s opacity cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #151515;
  background: -webkit-radial-gradient(center ellipse, #222222 0%, #151515 100%);
  background: radial-gradient(ellipse at center, #222222 0%, #151515 100%);
}
.gallery.fadeOut {
  opacity: 0;
}

.gallery__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/**
 * Poster
 */
.poster {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  display: inline-block;
  vertical-align: middle;
}
.poster:before, .poster:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 8px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.poster:after {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  right: 8px;
  left: auto;
}

.poster__content {
  position: relative;
  width: 500px;
  height: 700px;
  overflow: hidden;
  padding: 2%;
  background-color: #f5f5f5;
  color: #151515;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
  line-height: 1;
}

.poster__header {
  position: absolute;
  z-index: 9;
  bottom: 5.6em;
  width: 100%;
  overflow: hidden;
}

.poster__header-title {
  width: 25%;
  margin: 0 0 1.4em;
  text-align: right;
  font-size: 22px;
}

.poster__header-section {
  clear: both;
  font-size: 8px;
  font-weight: bold;
}

.poster__header-subtitle,
.poster__header-meta {
  float: left;
}

.poster__header-subtitle {
  width: 25%;
  margin-right: 0.7em;
  text-align: right;
}

.poster__header-meta--spaced {
  margin-bottom: 0.7em;
}

.poster__body {
  position: absolute;
  top: 35%;
  left: -24%;
  width: 100%;
  height: 100%;
}
.poster__body svg {
  -webkit-transform: scale(3.3);
          transform: scale(3.3);
  overflow: hidden;
}
.poster__body svg g {
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
}
.poster__body svg g:nth-child(1) {
  -webkit-animation: rotate 1.42857s linear infinite;
          animation: rotate 1.42857s linear infinite;
}
.poster__body svg g:nth-child(2) {
  -webkit-animation: rotate 2.14286s linear infinite;
          animation: rotate 2.14286s linear infinite;
}
.poster__body svg g:nth-child(3) {
  -webkit-animation: rotate 2.85714s linear infinite;
          animation: rotate 2.85714s linear infinite;
}
.poster__body svg g:nth-child(4) {
  -webkit-animation: rotate 3.57143s linear infinite;
          animation: rotate 3.57143s linear infinite;
}
.poster__body svg g:nth-child(5) {
  -webkit-animation: rotate 4.28571s linear infinite;
          animation: rotate 4.28571s linear infinite;
}
.poster__body svg g:nth-child(6) {
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}
.poster__body svg g:nth-child(7) {
  -webkit-animation: rotate 5.71429s linear infinite;
          animation: rotate 5.71429s linear infinite;
}
