---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.4 $openSans;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 30px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $openSans;
  color: $darkerGray;
  //font-weight: bold;

  line-height: 1.4;
  margin: 1.7em 0 15px;
  padding: 0;

  text-transform: capitalize;
}

h1 {
  font-family: $sourceSerifPro;
  font-size: 24px;
  letter-spacing: 0.3px;

  a {
    color: inherit;
  }
}

h2 {
  margin-bottom: 0;
  font-family: $sourceSerifPro;
  font-size: 18px;
}

h3 {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 12px;
}

p {
  margin: 5px 0 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 5px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  //background-color: rgb(166, 244, 244);
  margin-bottom: 70px;
}

.masthead {
  padding: 10px 0 0 0;
  //border-bottom: 3px solid $darkGray;

  @include mobile {
    //text-align: center;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name,
.site-description {
  display: inline-block;
}

.site-name {
  margin: 0;
  margin-right: 20px;
  color: $black;
  cursor: pointer;
  font-family: $openSans;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
}

.site-description {
  color: #999;
  font-size: 16px;

  @include mobile {
    //margin: 3px 0;
  }
}

//
// .main
//

.posts {
  ol {
    margin: 0;
    padding: 0;
    font-family: $sourceSerifPro;
    color: $darkerGray;
    font-size: 18px;
  }

  h1 {
    margin: 0.6em 0 0 0;
  }
}

.posts > .post {
  //padding-bottom: 2em;
  //border-bottom: 1px solid $lightGray;

}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 18px;
    font-style: italic;
  }

  .summary {
    margin-top: -2px;
    font-family: $openSans;
    font-weight: normal;
    color: #999;
    font-size: 14px;
  }

  .comments {
    margin-top: 10px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  //border-bottom: 1px solid #ddd;
  //background-color: $lightGray;
}

footer {
  //border-top: 1px solid #ddd;
  font-size: 12px;
  color: #ccc;
  padding: 10px 0;

  a {
    color: #ccc;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
