
//
// VARIABLES
//

@import 'https://fonts.googleapis.com/css?family=David+Libre:500|Open+Sans:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Source+Serif+Pro:600';

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$sourceSerifPro: 'Source Serif Pro', serif;
$openSans: 'Open Sans', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}