/*
DO NOT ADD ANYTHING ON THIS FILE!!!
Add your own css on index.html
*/

/*-- all elements will use border-box --*/
html {
  box-sizing: border-box;
}
*, :before, :after {
  box-sizing: inherit; 
}

/*-- container for all the columns --*/
.grid-container{
  width: 1200px; 
  margin: 0 auto;
	position: relative; /* this is needed for any children to use position absolute */
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 8.33%; 
    
  /*-- our gutter -- */
  padding: 0 0px; /* top-bottom right-left */
}

/*-- columns with different widths --*/
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.333333%; }
.col-5{ width: 41.666667%; }
.col-6{ width: 50%; }
.col-7{ width: 58.333333%; }
.col-8{ width: 66.666666%; }
.col-9{ width: 75%; }
.col-10{ width: 83.333333%; }
.col-11{ width: 91.666667%; }
.col-12{ width: 100%;   }

/*-- use thse to offset columns --*/
.col-offset-1 { margin-left: 8.333333%; }
.col-offset-2 { margin-left: 16.666666%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.333333%; }
.col-offset-5 { margin-left: 41.666667%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.333333%; }
.col-offset-8 { margin-left: 66.666666%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 83.333333%; }
.col-offset-11 { margin-left: 91.666667%; }

/*-- menu bar --*/
.menu-bar {
			position: absolute;
			z-index: 400;
		}
		
		ul.menu-bar li a:hover {
				display: inline;
				color: white;
				}
				
		.menu-bar {
			font-family: 'Press Start 2P', cursive;
		}
		
		ul.menu-bar li {
			display: inline-block;
			padding-top: 90px;
			padding-bottom: 90px;
			padding-left: 15px;
			font-size: 12pt;
			z-index: 400;
		}
	
		
		ul.menu-bar li a {
			text-decoration: none;
			color: black;
		}
		


		[class*='sangja'] {
				position: absolute;
				width: 188px;
				height: 192px;
				opacity: .83;
			}

/*-- helpers --*/
.test,
.outline {
  outline: 1px solid red; 
}