/* ---text--- */ 

.caps {
  text-transform: uppercase;
}
  
html {
  font-family: "lato", sans-serif;
  font-weight: 900;
  background-color: white;
  color: black;
  margin: auto;
}

a {
  position: relative; 
  font-family: Lato-Bold;
  font-size: 15px;
  color: #000000;
  letter-spacing: 2.45px;
  width: 20px;
  text-align: right;
  display: block;
}

a.head {
  text-align: center;
  width: 120px;
  height: 70px;
  padding-top: 5px;
}

a.head:hover {
  color: orangered;
}
  
.main {
  width: 1200px;
  height: 703px;
  position: relative;
  }

 row {
  position: absolute;
}

.title {
  font-weight: 400;
  font-size: 144px;
  color: #FFFFFF;
  letter-spacing: 3.94px;
  text-shadow: 0 2px 9px rgba(119,119,119,0.50);
  position: relative;
  text-align: center;
  line-height: 173px;
     }
      
.date {
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.49px;
  position: relative;
  text-align: right;
}
  
.about {
  font-family: Lato-Semibold;
  font-size: 48px;
  color: #000000;
  letter-spacing: 5.38px;
  line-height: 62px;
  position: relative;
    }
      
.about-1 {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.19px;
  line-height: 29px;
  position: absolute;
  width: 600px;
}
  
.gradient-t {
  font-family: Lato-HeavyItalic;
  font-size: 50px;
  color: #FCFCFC;
  letter-spacing: 3.5px;
  line-height: 64px;
  text-shadow: 2px 2px 12px rgba(71,71,71,0.50);
  position: relative;
}
  
.anon {
  font-weight: 300;
  font-size: 25px;
  color: #FCFCFC;
  letter-spacing: 1.75px;
  font-style: italic;
  position: relative;
}
  
.speakers {
  font-family: Lato-Bold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 4.57px;
  position: absolute;
  }  
  
.speaker-1 {
  font-family: Lato-Semibold;
  font-size: 30px;
  color: #000000;
  letter-spacing: 2.1px;
  line-height: 38px; 
  text-align: left;
  position: relative;
  }
  
.job {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1.68px;
  line-height: 24px; 
  position: relative;
  text-align: left;
  }
  
.time {
  font-family: Lato-Black;
  font-size: 17px;
  color: #000000;
  letter-spacing: 5.39px;
  position: relative;
  }
  
  .location {
    font-family: Lato-Black;
    font-size: 23px;
    color: #000000;
    letter-spacing: 2.59px;
    position: relative;
    line-height: 50px;
  }
  
  .location-2 {
    font-weight: 400;
    font-size: 20px;
    color: c#000000;
    letter-spacing: 2.59px;
    line-height: 28px;
    position: relative;
  }
  
  .location-3 {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    letter-spacing: 2.59px;
    line-height: 29px;
    position: relative;
  }
  
  .footer-txt {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 2.62px;
    line-height: 45px;
    position: relative;
    text-decoration: none;
    
  }

.footer-txt:hover {
  color: palevioletred;
}
  
 /* ---img--- */   
  
.logo {
  background-image: url(../Images/Mockup.png);
  background-size: contain;
  position: fixed;
  height: 60px;
  width: 120px;;
  z-index: 1;
}

.img-1 {
  background-image: url(../Images/main.png);
  background-size: cover;
  position: relative;
}

.img-about-1 {
  background-image: url(../Images/img-about-1.png);
  background-size: cover;
  position: relative;
  width: 350px;
  height: 350px;
  }
  
.img-about {
  background-image: url(../Images/img-about.png);
  background-size: cover;
  position: relative;
  width: 350px;
  height: 350px;
  }
  
.speaker-img-1 {
  background-image: url(../Images/speaker-img-1.png);
  background-size: cover;
  position: relative;
  height: 312px;
  width: 336px;
  }

.speaker-img-1:hover {
  background-image: url(../Images/Group.png);
  background-size: cover;
}

  
.speaker-img-2 {
  background-image: url(../Images/speaker-img-2.png);
  background-size: cover;
  position: relative;
  height: 312px;
  width: 336px;
  }

.speaker-img-2:hover {
  background-image: url(../Images/Group%202.png);
  background-size: cover;
}
  
.speaker-img-3 {
  background-image: url(../Images/speaker-img-3.png);
  background-size: cover;
  position: relative;
  height: 312px;
  width: 336px;
  }

.speaker-img-3:hover {
  background-image: url(../Images/Group%203.png);
  background-size: cover;
}
  
  .conference {
    background-image: url(../Images/divider-img.png);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 487px;
  }
  
  .location-img {
    background-image: url(../Images/location-img.png);
    background-size: cover;
    position: relative;
    width: 520px;
    height: 290px;
    position: relative;
  }

.icons {
  background-image: url(../Images/icons.png);
  background-size: cover;
  position: relative;
  height: 20%;
  width: 150px;
}
  
/* ---backgrounds-blocks--- */
  
.header {
  height: 80px;
  background-color: white;
  position: fixed;;
  width: 1200px;
  z-index: 1;
  
  }
  
.back {
  height: 567px;
  background-color: white;
  position: relative;
  width: 1200px;
}
  
.back-1 {
  height: 650px;
  background-color: white;
  position: relative;
  width: 100%;  
}
 
.gradient {
  background: linear-gradient(#85DBEF, #9BA2DD); 
  width: 100%;
  height: 490px;
  } 
  
.speaker-back1 {
  background-color: white;
  height: 50px;
  width: 1200px;
  position: relative;
}
.speaker-back {
  background-color: white;
  height: 380px;
  width: 1200px;
  position: relative;
  }
  
.speaker-back-2 {
  background-color: white;
  height: 300px;
  widows: 100%;
  position: relative;
  }
  
.line {
  background-image: linear-gradient(-180deg, #A88FED 0%, #CB35E2 99%);
  height: 6px;
  width: 100%;
  position: relative;
  }
  
.schedule-back {
  background-color: white;
  height: 300px;
  position: relative;
  }
  
.shape-1 {
  background: #F7EA79;
  border-radius: 10px;
  position: relative;
  height: 66px;
  width: 265px;
   font-family: Lato-Semibold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 4.69px;
  text-align: center;
  line-height: 60px;
  }
  
.shape-2 {
  background: #FF8F8F;
  border-radius: 10px;
  position: relative;
  height: 66px;
  width: 180px;
  font-family: Lato-Semibold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 4.69px;
  text-align: center;
  line-height: 60px;
  }
  
.schedule-back-2 {
  background-color: white;
  height: 100px;
  position: relative;
  }
  
.schedule-back-3 {
  background-color: white;
  height: 300px;
  position: relative;
  }
  
.schedule-back-b {
  background-color: white;
  height: 90px;
  position: relative;
  }
  
.shape-3 {
  background: #C7A4F9;
  border-radius: 10px;
  height: 66px;
  width: 265px;
  position: relative;
   font-family: Lato-Semibold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 4.69px;
  text-align: center;
  line-height: 60px;
  }
  
.shape-4 {
  background: #BDF5E5;
  border-radius: 10px;
  height: 66px;
  width: 200px;
  position: relative;
   font-family: Lato-Semibold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 4.69px;
  text-align: center;
  line-height: 60px;
  }
  
  .location-back {
  background-color: white;
  height: 550px;
  width: 600px;
  position: relative; 
  }
  
  .location-back-1 {
  background-color: white;
  height: 400px;
  width: 600px;
  position: relative; 
  }
  
.location-back-2 {
  background-color: white;
  height: 150px;
  width: 600px;
  position: relative; 
  }
  
 .rsvp {
  opacity: 0.67;
  background: #137097;
  border-radius: 10px;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 5.09px;
  position: relative;
  height: 70px;
  width: 310px;
  text-align: center;
  line-height: 70px;
  }

 .rsvp:hover {
  background-color: limegreen;
}
  
.divide {
  background-color: white;
  height: 200px;
  width: 1200px;
  position: relative;  
  }
  
.footer{
  background-image: linear-gradient(-180deg, #F0A3B3 4%, #F2C0C8 100%);
  width: 1200px;
  height: 150px;
  }

a{
  position: relative;
}
.caps {
  text-transform: uppercase;
  position: absolute; 
  font-family: Lato-Bold;
  font-size: 15px;
  color: #000000;
  letter-spacing: 2.45px;
  width: 1200px;
  text-align: right;
  text-decoration: none;
}

.header-artist {
  height: 80px;
  background-color: white;
  position: relative;
  width: 1200px;
  align-content: center;
  margin: auto;
}

.menu {
  background-color: #EEEEEE;
  position: relative;
  height: 50px;
  width: 1200px;
  margin: auto;
   background: linear-gradient(314deg, #90e5cf, #a4c3d6, #c8aee3);
background-size: 1200px 1200px;
  background-size: 1200px 1200px;
  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

.menu-2 {
  font-family: Lato-Bold;
  font-size: 22px;
  color: #7B7B7B;
  letter-spacing: 3px;
  position: relative;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  overflow: auto;
  list-style-type: none;
  width: 1200px;
  margin: auto;
}

li {
  height: 10px;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px;
  margin: 15px;
  width: 225px;
  position: relative;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px;
  color: white;
  letter-spacing: 3px;
  width: 300px;
  display: block;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #F3A263;
}

li.active a {
  font-weight: 300;
  color: #3FD800;
}
      
.img-artist {
  background-color: white;
  height: 500px;
  position: relative;
  margin: auto;
  object-position: center;
  width: 580px;
}
      
.speaker-2-img {
  background-image: url(../Images/speaker-2-img.png);
  background-size: cover;
  position: relative;
  height: 327px;
  width: 384px;
  margin: auto;
      }
      
.about-1-b {
  font-weight: 800;
  font-size: 50px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 38px;
  position: relative;
}
      
.about-2 {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 1.26px;
  line-height: 20px;
  position: relative;
  }
  
.media {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 38px;
  position: relative;
    }    

.artist-head {
  position: relative;
  height: 30px;
}

.active {
  color: mediumpurple;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes AnimationName { 
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}


.speaker-back2 {
  background-color: white;
  height: 100px;
  width: 1200px;
  position: relative;
}

.footer-t {
  /* Social & Sustainable: */
font-family: Lato-Black;
font-size: 25px;
color: #FFFFFF;
letter-spacing: 2.45px;
line-height: 35px;
position: relative;
text-decoration: none;
}

.about-4 {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.26px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}
.about-4:hover {
  color: deepskyblue;
}

