/*
Project 1 CSS template
-- do not change this file --
*/

/********** basic setup **********/

.container {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

div {
	width: 100%;
	float: left;
	position: relative;
	box-sizing: border-box;
}

div.row,
div.row:after {
	margin: 0;
	padding: 0;
}

/*  width */

div.col-25 {
	width: 25%;
}

div.col-20 {
	width: 20%;
}


div.col-50 {
	width: 50%;
}

div.col-75 {
	width: 75%;
}

div.col-100 {
	width: 100%;
}

/* offset */

div.col-offset-3 {
	margin-left: 3%;
}


div.col-offset-5 {
	margin-left: 5%;
}


div.col-offset-10 {
	margin-left: 10%;
}


div.col-offset-25 {
	margin-left: 25%;
}

div.col-offset-50 {
	margin-left: 50%;
}

div.col-offset-75 {
	margin-left: 75%;
}

div.col-offset-100 {
	margin-left: 100%;
}

/* height */

div.full {
	padding-top: 100%;
}

div.half {
	padding-top: 50%;
}

div.quarter {
	padding-top: 25%;
}

div.space {
    padding-top: 15%;
}

div.blank {
    padding-top: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	position: absolute;
	top: 0;
}

/********** helper **********/

/* to see the box */

.test {
	outline: 1px solid red;
}

/* center horizontally */

.center-h {
	width: 100%;
	text-align: center;
}

/* center vertically */

.center-v {
	top: 50%;
	transform: translateY(-50%);
}

/* how much to push down (in percentage) */

.top-3 {
	top: 3%;
}

.top-10 {
	top: 10%;
}

.top-20 {
	top: 20%;
}

.top-30 {
	top: 30%;
}

.top-40 {
	top: 40%;
}

.top-50 {
	top: 50%;
}

.top-60 {
	top: 60%;
}

.top-70 {
	top: 70%;
}

.top-80 {
	top: 80%;
}

.top-90 {
	top: 90%;
}

.top-100 {
	top: 100%;
}
