html {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

.test {
    outline: 1px solid red;
}

.container {
    width: 100vw;
    min-width: 1200px;
}

.header,
.footer {
    text-transform: uppercase;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 600;
}

h1 {
    font-size: 35px;
    line-height: 2;
}

h2 {
    font-size: 20px;
    line-height: 1.5;
}

p {
    color: #3d3d3d;
    font-weight: 300;
    line-height: 1.2;
    font-size: 20px;
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 10;
    font-weight: 400;
    font-size: 15px;
}

.menu-icon {
    position: relative;
    top: 3px;
    left: 3%;
    display: inline-block;
    width: 20px;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(20deg);
    transition: transform 1s;
}

.menu-icon:hover {
    transform: rotateZ(360deg) translateY(-5px);
}

.menu-icon .cube div {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px black solid;
    backface-visibility: visible;
}

.menu-icon .front {
    transform: translateZ(12px);
}

.menu-icon .back {
    transform: rotateY(180deg) translateZ(12px);
}

.menu-icon .left {
    transform: rotateY(90deg) translateZ(12px);
}

.menu-icon .right {
    transform: rotateY(-90deg) translateZ(12px);
}

.menu-icon .top {
    transform: rotateX(90deg) translateZ(12px);
}

.menu-icon .bottom {
    transform: rotateX(-90deg) translateZ(12px)
}

div.top-link {
    position: absolute;
    display: inline-block;
    right: 0%;
    padding-right: 15px;
}

div.top-link a {
    text-decoration: none;
    color: black;
}

.menu {
    position: relative;
    display: inline-block;
    margin: 15px;
}

a.home-top {
    transition: opacity 0.5s;
}

a.home-top:hover {
    opacity: 0.2;
}

a.speaker-top {
    transition: opacity 0.5s;
}

a.speaker-top:hover {
    opacity: 0.2;
}

a.schedule-top {
    transition: opacity 0.5s;
}

a.schedule-top:hover {
    opacity: 0.2;
}

a.location-top {
    transition: opacity 0.5s;
}

a.location-top:hover {
    opacity: 0.2;
}


.footer {
    position: relative;
    height: 180px;
    background-color: #efefef;
}

.logo-bottom {
    position: relative;
    top: -30px;
    padding-left: 60px;
    display: inline-block;
    width: 90px;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(20deg);
}

.logo-bottom .cube div {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px black solid;
    backface-visibility: visible;
}

.logo-bottom .front {
    transform: translateZ(35px);
}

.logo-bottom .back {
    transform: rotateY(180deg) translateZ(35px);
}

.logo-bottom .left {
    transform: rotateY(90deg) translateZ(35px);
}

.logo-bottom .right {
    transform: rotateY(-90deg) translateZ(35px);
}

.logo-bottom .top {
    transform: rotateX(90deg) translateZ(35px);
}

.logo-bottom .bottom {
    transform: rotateX(-90deg) translateZ(35px)
}

div.title-bottom {
    position: relative;
    display: inline-block;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.5;
    top: 35px;
}

div.link {
    position: absolute;
    width: 500px;
    right: 0;
    top: 60px;
}

div.menu-bottom {
    position: relative;
    display: inline-block;
    left: 85px;
    margin-bottom: 25px;
}

.bot-nav {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 300;
    font-size: 18px;
}

a.bot-nav {
    text-decoration: none;
    color: black;
}

.home-bottom {
    transition: opacity 0.5s;
}

.home-bottom:hover {
    opacity: 0.2;
}

.speaker-bottom {
    transition: opacity 0.5s;
}

.speaker-bottom:hover {
    opacity: 0.2;
}

.schedule-bottom {
    transition: opacity 0.5s;
}

.schedule-bottom:hover {
    opacity: 0.2;
}

.location-bottom {
    transition: opacity 0.5s;
}

.location-bottom:hover {
    opacity: 0.2;
}

div.socialmedia {
    position: relative;
    left: 250px;
}

.instagram {
    transition: opacity 0.5s;
}

.instagram:hover {
    opacity: 0.2;
}

.facebook {
    transition: opacity 0.5s;
}

.facebook:hover {
    opacity: 0.2;
}

.youtube {
    transition: opacity 0.5s;
}

.youtube:hover {
    opacity: 0.2;
}

.twitter {
    transition: opacity 0.5s;
}

.twitter:hover {
    opacity: 0.2;
}

img.social-link {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
