<!doctype html>

<style>
*, :before, :after {
  box-sizing: inherit; 
}

/*-- container for all the columns --*/
.grid-container{
  width: 100vw; 
  margin: 0 auto;
	position: relative; /* this is needed for any children to use position absolute */
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 8.33%; 
    
  /*-- our gutter -- */
  padding: 0 0px; /* top-bottom right-left */
}

/*-- columns with different widths --*/
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.333333%; }
.col-5{ width: 41.666667%; }
.col-6{ width: 50%; }
.col-7{ width: 58.333333%; }
.col-8{ width: 66.666666%; }
.col-9{ width: 75%; }
.col-10{ width: 83.333333%; }
.col-11{ width: 91.666667%; }
.col-12{ width: 100%;   }

/*-- use thse to offset columns --*/
.col-offset-1 { margin-left: 8.333333%; }
.col-offset-2 { margin-left: 16.666666%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.333333%; }
.col-offset-5 { margin-left: 41.666667%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.333333%; }
.col-offset-8 { margin-left: 66.666666%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 83.333333%; }
.col-offset-11 { margin-left: 91.666667%; }


/*-- helpers --*/
.test,
.outline {
  outline: 1px solid red; 
}

.ruler1 {
	position: absolute;
	display: block;
	height: .1vw;
	width: 100vw;
	top: 4.3vw;
	z-index: 4000;
	
	
	
}


p {
	font-family: 'lato', sans-serif;
	color: blue;	
}


h1 {
	font-family: 'karla',sans-serif''
	font-size:30px;
	
}
.section {
	width: 100vw;
	height: 60vw;
	position: relative;
}

.header {
	position: absolute;
	display: block;
	z-index: 6000;
	top: 20vw;
	
}




.future {
	border: 2px solid black;
	padding-left: 1vw;
	padding-right: 1vw;
	width: 30vw;
	background-color:white;
	position: absolute;
	top:-2vw;
	font-family: 'karla',sans-serif;
	display: block;
	text-transform: uppercase;
	text-align: center;
	left: 56.7vw;
  -webkit-animation:colorchange 20s infinite alternate;
	box-shadow: -1.6vw 1.6vw ;
  transition: all .3s ease;
	height: 6vw;
	z-index: 500;
	font-size: 5vw;

}

.future:hover {
animation: gradient1 10s ease infinite;
box-shadow: 0vw 0vw 0;
position: relative;	
margin-left:-2vw;
top: .02vw;
padding-right: 0vw;
border: 2px solid white;
-webkit-animation:colorchange 10s infinite alternate;
display: block;
}


.intro {
	display: none;	
	top: 3vw;
	font-family: 'lato', sans-serif;
	right: 30vw;
	font-size: 2vw;
	text-transform: none;
	width: 40vw;
	position: relative;
	color: blue;
	animation: zoomIn 10s 1;

}

.future:hover .intro {
	display: block;
}

#site-name {
	padding-left: 1vw;
	padding-right: 1vw;
	width: 40vw;
	position: absolute;
	top: 0vw;
	font-family: 'karla',sans-serif;
	left: 15vw;	
	display: block;
	text-align: center;
	font-size: 5vw;

}
.menu {
	position: relative;
	display: inline-block;
	width: 100vw;
	height: 4vw;
	font: 2vw;
	color: red;
	top: 0vw;
	z-index: 4000;
}

.nav {
	position: fixed;
	left: 0vw;
	top: 14vw;
	display: inline-block;
	
}

ul.nav {
	color:black;
	font-family:'Karla',sans-serif;
	z-index: 100;
	padding: 
	
}



ul.nav li :hover {
	background-color:white;
	width: 10vw;
	height: .5vw; 
	-webkit-animation:colorchange 20s infinite alternate;  
	padding: 20px;	
	z-index: 4500;
}

ul.nav li a {
	text-decoration: none;
	padding: 20px;	
	z-index: 4500;
	align-content: center;
	color: black;
	position: relative;
	padding: 20px;
	height: 20vw;
	background animation: colorchange 20s infinite;

}

ul.nav li :after {
	text-decoration: none;
	padding: 20px;
	color:yellow;
	position: relative;
	z-index: 4500;
}

nav, li {
	text-decoration: none;
	display: block;
	text-align: center;
	text-transform: lowercase;
	border: 1px solid black;
	position: relative;
	padding: 20px;	
	width:8vw;
	z-index: 4500;
}


.sticky-room {
	height: 49vw;
	width: 100vw;
}

.sticky-note {
	width: 10vw;
	height: 10vw;
	position: absolute;
	background-color: aqua;
	top: 15vw;
	left: 40vw;
}

.top-note {
	width: 10vw;
	height: 2vw;
	position: absolute;
	background-color: darkturquoise
	
}
.sticky-note-p {
	width: 10vw;
	height: 10vw;
	position: absolute;
	background-color: violet;
	top: 30vw;
	left: 50vw;
}
.sticky-note-o {
	width: 10vw;
	height: 10vw;
	position: absolute;
	background-color: coral;
	top: 25vw;
	left: 25vw;
}
.top-note-o {
	width: 10vw;
	height: 2vw;
	position: absolute;
	background-color: orangered;
	
}


.sticky-note-g {
	width: 10vw;
	height: 10vw;
	position: absolute;
	background-color: palegreen;
	top: 29vw;
	left: 79vw;
}

.top-note-g {
	width: 10vw;
	height: 2vw;
	position: absolute;
	background-color: limegreen;
}

.top-note-p {
	width: 10vw;
	height: 2vw;
	position: absolute;
	background-color: rebeccapurple;
	
}
.arrow-right {
	display: block;
	right: 2vw;
	top: 30vw;
	height: 2vw;
	width: 2vw;
	position: absolute;
}
.arrow-left {
	display: block;
	left:2vw;
	top: 29vw;
	height:2vw;
	width:2vw;
	position: absolute;
	-webkit-transform: rotate(90deg); 

}


.arrow-bottom {
	display: block;
	left:50vw;
	font-family: 'karla',sans-serif;
	top: 50vw;
	font-size: 3vw;
	height: 3vw;
	width:1.6vw;
	position: absolute; 
	-webkit-animation: bounce 2s infinite;
}


#arrow-top {
	position: relative;
	width: 1.5vw;
	left: .3vw;
	border: 1.5px solid black;
	display:block;
	-webkit-transform: rotate(-50deg); 
}
#arrow-bottom {
	position: relative;
	width: 1.4vw;
	border: 1.5px solid black;
	display:block;
	top:-.2vw;
	right: .7vw;
	-webkit-transform: rotate(50deg); 
}

.sticky-note-button {
	width: 5vw;
	height: 5vw;
	position: absolute;
	background-color: red;
	top:15vw;
	display: block;
	left: 82vw;
	z-index: 3000;
	-webkit-animation: Gradient 10s ease infinite;
	background: linear-gradient(297deg, #21ecb8, #deec21, #ff7f16, #ca16ff);
	background-size: 800% 800%;
	z-index: 100;
}

.top-note-button {
	width: 5vw;
	height: 1vw;
	position: absolute;
	-webkit-animation: Gradient 10s ease infinite;
	background: linear-gradient(180deg, #ca16ff, #deec21, #ff7f16, #21ecb8);
	background-size: 800% 800%;
	z-index: 3000;
}



.info {
	font-family: 'karla', sans-serif;
	position: absolute;
	letter-spacing: .5px;
	top: 5vw;
	left: 20vw;
	padding-top: 10px;
	padding-left: 10px; 
	display: block;
	font-size: 1.6vw;
	width: 20vw;
	height: 7.5vw;
	line-height: 3vw;
	color: blue;
}

.map {
	width: 130%;
	position: absolute;
	display: block;
	top: 10vw;
	left: 0vw;
	border: 2px solid red;
}

.time {
	font-size: 1.2vw;
	color: blue;
}
.date {
	font-size: 1.2vw;
	font-weight: 300;
	color: blue;
	
}

.text {
	
	top: 14vw;
	left: 56.5vw;
	position: relative;
	font-family: 'lato', sans-serif;
	width: 35vw;
	font-size: 1vw;
	
	
}

#time1 {
	color: red;
	font-family: 'karla', sans-serif;
	font-size: 2vw;
	letter-spacing: .4vw;
	
}


.content {
	position: relative;
	display: block;
	left: 56.5vw;
	top: 8vw;
	line-height: 1.2vw;
	width: 20vw;
}

.bios {
	
	width: 90vw;
	height: 40vw;
}


.bio-1 {
	width: 20vw;
	font-size: .6vw;
	line-height: 1.4vw;
	color: blue;
	position: relative;
	top: 8vw;
	left: 34vw;
	display: block;
	z-index: 5000;
	
	
}

.bio-pic1 {
	left:15vw;
	position: absolute;
	height: 30%;
	top: 12vw;
	display: block;
	z-index: 3000;
}


.bio-2 {
	width: 20vw;
	font-size: .6vw;
	line-height: 1.4vw;
	color: blue;
	position: relative;
	top:-1vw;
	left: 73vw;
	display: block;
	z-index: 5000;
	
	
}

.bio-pic2 {
	left: 58vw;
	position: absolute;
	height: 30%;
	top: 17vw;
	display: block;
	z-index: 3000;
}


.bio-3 {
	width: 20vw;
	font-size: .6vw;
	line-height: 1.4vw;
	color: blue;
	position: relative;
	top:1vw;
	left: 45vw;
	display: block;
	z-index: 5000;
	
	
}

.bio-pic3 {
	left: 22vw;
	position: absolute;
	height: 45%;
	top: 30vw;
	display: block;
	z-index: 3000;
}




.button-sticky {
	top: 15vw;
	right: 20vw;
	width: 11vw;
	height: 3vw;
	font-family: 'lato',sans-serif;
	font-weight: 600;
	color:black;
	font-size: 15px;
	letter-spacing: 1px;
	padding-left: 20px;
	padding-right: 10px;
	text-transform: lowercase;
	text-align: center;
	line-height: 1.5vw;
	position: absolute;
	border: 2px solid black;
	border-radius: 1px;
}

.h1-m  {
	width: 32vw;
	height: 4vw;
	font-family: 'karla',sans-serif;
	font-weight: 600;
	color:black;
	font-size: 3.5vw;
	text-align: center;
	padding: 5px;
	letter-spacing: 1px;
	position: relative;
	top: 4vw;
	left: 58vw;
	 -webkit-animation:colorchange 20s infinite alternate;
	box-shadow: -1.6vw 1.6vw ;
	border: 2px solid black;
	text-transform: lowercase;
	z-index: 2000;
}

#canvas {
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	overflow: hidden;

}


#bodytext {
	width: 40vw;
	right: 30vw;
	position: absolute;
	display: block;
	letter-spacing: .3px;
	line-height: 2.3vw;
	top: 20vw;
}


@keyframes bounce {
	
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, 50px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -25px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  } 
}


@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


 @-webkit-keyframes colorchange {
      0%  {color: blue;}
	    10% {color: #8e44ad;}
      20% {color: #1abc9c;}
      30% {color: #d35400;}
      40% {color: blue;}
      50% {color: #34495e;}
      60% {color: blue;}
      70% {color: #2980b9;}
      80% {color: #f1c40f;}
      90% {color: #2980b9; }
      100% { color: pink;
      }
    }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}




</style>